<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/approval-process.style.css" />
    <title>PR</title>
  </head>
  <body>
    <div class="detail-wrapper p-6">
      <div class="pb-6">
        <div class="detail-card-wrapper p-6">
          <div class="detail-card-title-wrapper pb-6">
            <h3 class="detail-card-title">PR #123456</h3>
            <div class="tag tag-default">Yêu cầu</div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <div>
              <div class="detail-label">Người yêu cầu</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Loại PR</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Mã chi phí</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Kiểm tra ngân sách</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Mã ngân sách</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Bộ phận thu mua</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Nhóm thu mua</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Trại</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Độ ưu tiên</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">Lý do/Mục đích mua sắm</div>
              <div class="detail-value">-</div>
            </div>
            <div>
              <div class="detail-label">File đính kèm</div>
              <div class="detail-value">
                <a href="#" class="detail-link"> File 1 </a>,
                <a href="#" class="detail-link"> File 2 </a>,
                <a href="#" class="detail-link"> File 3 </a>,
                <a href="#" class="detail-link"> File 4 </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-6">
        <div>
          <div class="detail-card-title-wrapper pb-6">
            <h3 class="detail-card-title">Chi tiết PR</h3>
          </div>
          <div class="ap-table-wrapper">
            <div class="ap-table-container">
              <table class="ap-table" style="width: 2400px">
                <thead>
                  <tr>
                    <th style="width: 50px">STT</th>
                    <th style="width: 120px">Mã ngân sách</th>
                    <th style="width: 120px">Mã chi phí</th>
                    <th style="width: 120px">Mã vật tư</th>
                    <th style="width: 120px">Tên vật tư</th>
                    <th style="width: 140px">Nhóm vật tư</th>
                    <th style="width: 100px">Thời gian giao</th>
                    <th style="width: 100px">Giá ước tính</th>
                    <th style="width: 100px">SL định mức</th>
                    <th style="width: 100px">SL tồn kho</th>
                    <th style="width: 100px">Số lượng</th>
                    <th style="width: 80px">Đơn vị tính</th>
                    <th style="width: 100px">Tổng tiền</th>
                    <th style="width: 140px">Ghi chú</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- group 1 -->
                  <tr>
                    <td>-</td>
                    <td colspan="13">
                      <div class="general-info-cell">
                        <div class="detail-value">Mã ngân sách: ----</div>
                        <div class="detail-value">Ngân sách: ----</div>
                        <div class="detail-value">Ngân sách dự chi: ----</div>
                        <div class="detail-value">
                          Ngân sách dự chi còn lại: ----
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <!-- group 2 -->
                  <tr>
                    <td>-</td>
                    <td colspan="13">
                      <div class="general-info-cell">
                        <div class="detail-value">Mã ngân sách: ----</div>
                        <div class="detail-value">Ngân sách: ----</div>
                        <div class="detail-value">Ngân sách dự chi: ----</div>
                        <div class="detail-value">
                          Ngân sách dự chi còn lại: ----
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
