body {
  margin: 0;
  color: rgba(50, 47, 49, 1);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* atomics */

.p-6 {
  padding: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.gap-6 {
  gap: 24px;
}

/* Grid system */

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 992px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Components */

.tag {
  padding: 2px 12px;
  border-radius: 500px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.tag-default {
  color: rgba(50, 47, 49, 1);
  background-color: rgba(241, 241, 241, 1);
}

.tag-success {
  color: rgba(0, 144, 12, 1);
  background-color: rgba(228, 255, 227, 1);
}

.detail-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}

.detail-value {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding: 8px 0;
}

.detail-link {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: rgba(0, 144, 12, 1);
  text-decoration: none;
}

.ap-table-wrapper {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(246, 246, 246, 1);
}

.ap-table-container {
  overflow-x: auto;
  width: 100%;
}

.ap-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.ap-table th {
  text-align: left;
  padding: 16px;
  background-color: rgba(230, 237, 234, 1);
}

.ap-table td {
  text-align: left;
  padding: 16px;
}

.ap-table .general-info-cell {
  display: flex;
  align-items: center;
  gap: 80px;
}

.detail-wrapper {
  background-color: rgba(255, 255, 255, 1);
}

.detail-card-wrapper {
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 12px;
}

.detail-card-title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.detail-card-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(50, 47, 49, 1);
}
